node_modules
.env
server/.env
server/Logs
server/canvas.db
server/battle1.db
server/battle2.db
server/battle3.db
server/battle4.db
server/battle5.db
123.txt
notes.txt
test.js
Logs
Mobile_App
build
.vscode
prod
.prettierrc