/* .container {
    text-align: center;
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.predictions {
    margin-top: 20px;
}

.predictions ul {
    list-style-type: none;
    padding: 0;
}

.predictions li {
    font-size: 18px;
    margin: 5px 0;
} */